<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>
<div class="container">
  <h1>Welcome</h1>
  <br>
  <%= form_tag(root_path, method: :get) do %>
    sort by:  <%= select_tag(:sort_by, options_for_select([["sort_by"],["project_name", "project_name"],["category_name", "category_name"],["user_name", "user_name"], ['recent_projects', 'recent_projects']]), class: "form-select sort_by") %>
  <% end %>

  <div class="container list-wrapper">
    <div class="row">
      <div class="col">
        <div class="container">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="th-sm">Project Title</th>
                <th class="th-sm">Username</th>
                <th class="th-sm">CategoryName</th>
              </tr>
            </thead>
            <tbody class="list-wrapper project_list">
              <%= render '/home/project_list' %>
              <!-- <%# @projects.each do |project| %>
                <tr class="list-item">
                  <td><%#= project.title%></td>
                  <td><%#= project.user.user_name%></td>
                  <td><%#= project.category.name%></td>
                </tr>
              <%#end%> -->
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="pagination-container"></div>

<script type="text/javascript">
  var items = $(".list-wrapper .list-item");
  var numItems = items.length;
  var perPage = 2;

  items.slice(perPage).hide();

  $('#pagination-container').pagination({
      items: numItems,
      itemsOnPage: perPage,
      prevText: "&laquo;",
      nextText: "&raquo;",
      onPageClick: function (pageNumber) {
        var showFrom = perPage * (pageNumber - 1);
        var showTo = showFrom + perPage;
        items.hide().slice(showFrom, showTo).show();
        return false;
      }
  });

  $('#sort_by').change(function(){
    sort_by =  $(this)
    $.ajax({
      type: "GET",
      url: "/?sort_by="+$(this).val(),
    }).done(function(data) {
      sort_by
    });
  })
</script>
